.admin{
    
    &-title{
        font-size: 40px;
        font-weight: 700;
        text-align: center;
    }

    &-logo{
        margin: 20px 0;
        img{
            width: 100px;
        }
    }

    &-address-wallet,
    &-subtitle{
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 20px;
        text-align: center;
    }

    &-address-wallet{
        font-size: 20px;
        color: #049745;
        font-weight: 700;
    }
}